
#contact {
  padding: 40px 0;
}

#contact .contact-info {
  margin-bottom: 20px;
  text-align: center;
}

#contact .contact-info i {
  font-size: 48px;
  display: inline-block;
  margin-bottom: 10px;
  color: #18d26e;
}

#contact .contact-info address,
#contact .contact-info p {
  margin-bottom: 0;
  color: #000;
}

#contact .contact-info h3 {
  margin-bottom: 15px;
}

#contact .contact-info a {
  color: #000;
}

#contact .contact-info a:hover {
  color: #18d26e;
}

#contact .contact-address,
#contact .contact-phone,
#contact .contact-email {
  margin-bottom: 20px;
}

#contact .form #sendmessage {
  color: #18d26e;
  border: 1px solid #18d26e;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}



#contact .form input,
#contact .form textarea {
  padding: 10px 14px;
  border-radius: 0;
  box-shadow: none;
  font-size: 15px;
}

#contact .form button[type="submit"] {
  background-color: #00B1B2;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s; 
  cursor: pointer;
  border:2px solid #00B1B2;
}

#contact .form button[type="submit"]:hover {
  color: #000;
  background-color: #FFFFFF;
  border-color: #00B1B2;
}

.form-group{

  margin-bottom: 1rem;
}

.titulocontacto{
  text-align: center;
  font-size: 2.3em;
  font-weight: bold;
  color: #752995;
  text-shadow: 1px 2px 3px black;
}

.section-header hr{
  max-width: 200px;
  width: 100%;
  margin: 3px auto;
  border: 2px solid #00B1B2;
}

.btn-enviar{
  margin:10px;
  padding: 10px;
  color: #000;
  border-radius: 5px;
  border:2px solid #00B1B2;

  border-color: #00B1B2;
  font-weight: bold;
}

.btn-enviar:hover{
  color: #000;
  background-color: #FFFFFF;
  border-color: #25cff2;
  cursor: pointer;
}